
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    width: 80%;
    margin: 5rem auto;
    padding: 5rem;
    border: 1px solid gray;
    height: fit-content;
    color: white;
    background-color: #3c1991;
}
.upper-part {
    width: 400px;
    margin: auto;
    text-align: center;
}
h3 {
    font-size: 2rem;
    margin-bottom: 1rem;
}
h3::first-letter {
    text-transform: uppercase;
}
p {
    font-size: 1rem;
    margin-bottom: 1.5rem;
}
p::first-letter {
    text-transform: uppercase;
}
.learn-more {
    text-decoration: none;
    font-size: 1rem;
    border: 1px solid transparent;
    padding: .5rem 1rem;
    background-color: #e76712;
    border-radius: .3rem;
    color: white;
}
.learn-more::first-letter {
    text-transform: uppercase;
}
.box-container {
    width: 100%;
    margin-top: 2rem;
    display: flex;
    justify-content: space-around;
    align-items: baseline;
}
.box-container > div {
    border: 1px solid transparent;
    background: white;
    color: black;
    margin: 1rem;
    height: max-content;
    padding: 1.5vw;
}
.box-head {
    text-align: center;
}
.box-head h4 {
    text-transform: capitalize;
}
.fas {
    color: #e76712;
    font-size: .8rem;
    font-weight: lighter;
}
button {
    display: block;
    font-size: 1rem;
    width: 90%;
    margin: auto;
    padding: .5rem;
    border: none;
    border-radius: .5rem;
    background: #e5e0e0;
    border-bottom-style: inset;
    text-transform: capitalize;
}