
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    width: 80%;
    margin: 5rem auto;
    padding: 5rem;
    border: 1px solid gray;
    height: fit-content;
    color: white;
    background-color: #3c1991;
}
.upper-part {
    width: 400px;
    margin: auto;
    text-align: center;
}
h3 {
    font-size: 2rem;
    margin-bottom: 1rem;
}
h3::first-letter {
    text-transform: uppercase;
}
.flex {
    display: flex;
}
span {
    font-size: 1.8rem;
    font-weight: bold;
    margin-left: 1rem;
}
.flex p {
    margin-left: 0;
    line-height: unset;
}
p {
    line-height: 20px;
    font-size: .9rem;
    padding-left: 1rem;
    font-family: sans-serif;
}
p::first-letter {
    text-transform: uppercase;
}
span {
    font-size: 1.8rem;
    font-weight: bold;
}
.flex p {
    margin-left: unset;
}
i {
    margin-right: .2rem;
}
.margin-bottom {
    margin-bottom: 1.5rem;
}
.learn-more {
    text-decoration: none;
    text-transform: capitalize;
    font-size: 1rem;
    border: 1px solid transparent;
    padding: .5rem 1rem;
    background-color: #e76712;
    border-radius: .3rem;
    color: white;
}
.learn-more::first-letter {
    text-transform: uppercase;
}
.box-container {
    width: 100%;
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
}
.box-container > div {
    border: 1px solid transparent;
    background: white;
    color: black;
    margin: 1rem;
    height: max-content;
    border-radius: .5rem;
}
.box-head {
    text-align: center;
    border-bottom: 2px solid gray;
    margin: 1rem 0;
}
.box-head h4 {
    text-transform: capitalize;
    color: #3c1991;
}
.box-3 h4 {
    text-transform: capitalize;
}
.box-3 button {
    background: #e99213;
}
.box-container .box-3 {
    background: transparent;
    border: 1px solid gray;
    color: white;
}
.box-3 h4 {
    color: white;
}
.margin-left {
    margin-left: 1rem;
}
.fas {
    color: #e76712;
    font-size: .8rem;
    font-weight: lighter;
}
button {
    display: block;
    font-size: .9rem;
    width: 90%;
    margin: 1rem auto;
    padding: .5rem;
    border: none;
    border-radius: .5rem;
    background: #e5e0e0;
    border-bottom-style: inset;
    text-transform: capitalize;
}
